<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	   <groups>
            <run>
                <include name="Positive"></include>
            </run>
        </groups>
<test name="chrome">
	  
	
        <parameter name="UN" value="podtest@gmail.com"></parameter>
        <parameter name="PW" value="Password"></parameter>
        <classes>
			 <class name="Maven_TestNG_Practise.Maven_TestNG_Practise.AnnotationDemo">
  				<methods>
					 <parameter name="UN" value="akhiljda@gmail.com"></parameter>
                        <parameter name="PW" value="Password"></parameter>
                    <include name="TC1">
                       
                    </include>
                </methods>
                
         </class>
          <class name="Maven_TestNG_Practise.Maven_TestNG_Practise.AppTest">
  				
                    <parameter name="username" value="valid_user@example.com"/>
                    <parameter name="password" value="valid_password"/>
                
                
         </class>
         
         
         
         <class name="Maven_TestNG_Practise.Maven_TestNG_Practise.AnnotationDemo2">
          <methods>
                    <include name="TC1"></include>
                </methods>
            </class>
            
            <class  name="Maven_TestNG_Practise.Maven_TestNG_Practise.PracticesTest">
				
			</class>
         
		</classes>
		</test>
		</suite>

         
         